html, body {
    margin: 0;
    padding: 0;
    height: 100%; 
    width: 100%;
    box-sizing: border-box;
    overflow: auto;
        
    #root {
        min-height: 100vh;
        background: linear-gradient(to top, rgba(0,0,0,1), rgba(112, 128, 144, 1) 71%);
        overflow: scroll;
    } 
}